{template "search","header"}

<!-- 主要内容 -->
<div class="page2-block1 container-900 mg-auto overflow clearfix">
    <div class="left">
        <div class="searchcontent" style="margin-top:20px;">
            <form id="searchForm2" method="get" action="" name="form_search">
                <input id="searchWord2" class="searchname fl" type="text" value="{$search_q}" name="q">
                <input id="searchBtn2" type="submit" value="" class="searchbtn cursor fl">
                <input type="hidden" name="m" value="search"/>
                <input type="hidden" name="c" value="index"/>
                <input type="hidden" name="a" value="init"/>
                <input type="hidden" name="typeid" value="1" id="typeid"/>
                <input type="hidden" name="siteid" value="{$siteid}" id="siteid"/>
            </form>
        </div>
        <ul class="articlelist clearfix">
        {loop $datas $i $r}
            <li class="article">
                <a class="pic" href="{$r[url]}" title="{$r[title]}"><img src="{$r[thumb]}"/></a>
                <div class="text">
                    <a href=""><h2>{$r[title]}</h2></a>
                    <span>{date('Y年m月d日',$r[inputtime])}</span>
                    <p>{str_cut($r[description],356,'...')}</p>
                </div>
            </li>
        {/loop}
        {if empty($datas)}未找到结果{/if}
    </ul>


        <div class="paging">
            {$pages}
        </div>
    </div>
    <div class="right">
       <div class="alllinks" style="margin-top:20px;">
           <span>全部</span>
           <a href="" title="专题">专题</a>
           <a href="" title="资讯">资讯</a>
           <a href="" title="图片">图片</a>
       </div>
        <ul class="adlist clearfix">
            {pc:content  action="position" posid="20" order="listorder DESC" num="2"}
            {loop $data $r}
            <li><a href="{$r[url]}" title="{$r[title]}"><img class="adimg" src="{$r[thumb]}"></a></li>
            {/loop}
            {/pc}
        </ul>
    </div>
</div>

{template "content","footer"}

<script>
    $(".alllinks").hover(function() {
        $(this).find("a").css({"visibility":"visible"});
    },function() {
        $(this).find("a").css({"visibility":"hidden"});
    })
</script>