{template "content","header"}

<div class="page3-block1 container-900 mg-auto overflow clearfix">
    <div class="slideinner overflow">
    <ul class="clearfix overflow">
        <li>
            {pc:get sql="select * from v9_activity where catid = 32 order by id desc" start="0" num="4" cache="3600" return="data"}
            {loop $data $r}
            <div class="list-inner fl tianstion">
                <div class="time">{$r[activity_time]}</div>
                <a href="{$r[url]}" class="imgCon" title="">
                    <img src="{$r[thumb]}" alt=""  />
                </a>
                <div class="priceCon">
                        <div class="text">
                            <a href=""><h2>{str_cut($r[title],30,'...')}</h2></a>
                            <div class="xxl_line"></div>
                            <p>{str_cut($r[description],94,'...')}</p>
                        </div>
                </div>
            </div>
            {/loop}
            {/pc}
        </li>
        <li>
            {pc:get sql="select * from v9_activity where catid = 32 order by id desc" start="4" num="4" cache="3600" return="data"}
            {loop $data $r}
            <div class="list-inner fl tianstion">
                <div class="time">{$r[activity_time]}</div>
                <a href="{$r[url]}" class="imgCon" title="">
                    <img src="{$r[thumb]}" alt=""  />
                </a>
                <div class="priceCon">
                        <div class="text">
                            <a href=""><h2>{str_cut($r[title],30,'...')}</h2></a>
                            <div class="xxl_line"></div>
                            <p>{str_cut($r[description],94,'...')}</p>
                        </div>
                </div>
            </div>
            {/loop}
            {/pc}
        </li>
    </ul>
</div>
</div>

<div class="page3-block2 container-900 mg-auto overflow clearfix">
   <div class="pictext">
       <a class="title1" href="/index.php?m=content&c=index&a=lists&catid=25" title="">纪录片沙龙</a>
       <p class="description_c">
       {pc:get sql="select * from  v9_category where catid = 25" cache="3600" return="data"}
       {loop $data $r}
        {$r[description]}
       {/loop}
       {/pc}
       </p>
       <ul class="clearfix">
            {pc:content  action="lists" catid="25" order="id DESC" num="4"}
            {loop $data $r}
            <li>
               <a class="leftpic" href="{$r[url]}" class="title"><img src="{$r[thumb]}" alt="" style="width:200px;height:278px;"></a>
               <div class="righttext">
                   <a href="{$r[url]}"><h2>{str_cut($r[title],52,'...')}</h2></a>
                   <div class="xxl_line"></div>
                   <p>{str_cut($r[description],110)}</p>
               </div>
            </li>
           {/loop}
           {/pc}
       </ul>
   </div>
    <div class="pictext">
        <a class="title1" href="http://www.1926cn.com/special/lysy/index.shtml" title="公益大讲堂" target="_blank">公益大讲堂</a>
        <p class="description_c">
        {pc:get sql="select * from  v9_category where catid = 26" cache="3600" return="data"}
        {loop $data $r}
            {$r[description]}
        {/loop}
        {/pc}
        </p>
        <ul class="clearfix">
            {pc:content  action="lists" catid="26" order="id DESC" num="4"}
            {loop $data $r}
            <li>
               <a class="leftpic" href="{$r[url]}" class="title"><img src="{$r[thumb]}" alt="{$r[title]}" style="width:200px;height:278px;"></a>
               <div class="righttext">
                   <a href="{$r[url]}"><h2>{str_cut($r[title],52,'...')}</h2></a>
                   <div class="xxl_line"></div>
                   <p>{str_cut($r[description],110)}</p>
               </div>
            </li>
           {/loop}
           {/pc}
        </ul>
    </div>

    <div class="picture">
        <a class="title1" href="http://www.1926cn.com/special/lysy/index.shtml" title="常规课程" target="_blank">常规课程</a>
        <p class="description_c">
        {pc:get sql="select * from  v9_category where catid = 27" cache="3600" return="data"}
        {loop $data $r}
            {$r[description]}
        {/loop}
        {/pc}
        </p>
        <ul class="clearfix">
            {pc:content  action="lists" catid="27" order="id DESC" num="4"}
            {loop $data $r}
            <li>
                <a class="toptpic" href="{$r[url]}" class="title"><img src="{$r[thumb]}" alt="{$r[title]}"></a>
                <div class="bottomtext">
                    <a href="{$r[url]}"><h2>{str_cut($r[title],56,'...')}</h2></a>
                    <div class="xxl_line"></div>
                    <p class="whkj_p">{str_cut($r[description],96)}</p>
                </div>
            </li>
            {/loop}
            {/pc}
        </ul>
    </div>
    <div class="picture">
        <a class="title1" href="" title="">良友剧场</a>
        <p class="description_c">
        {pc:get sql="select * from  v9_category where catid = 28" cache="3600" return="data"}
        {loop $data $r}
            {$r[description]}
        {/loop}
        {/pc}
            </p>
        <ul class="clearfix">
            {pc:content  action="lists" catid="28" order="id DESC" num="4"}
            {loop $data $r}
            <li>
                <a class="toptpic" href="" class="title"><img src="{$r[thumb]}" alt="{$r[title]}"></a>
                <div class="bottomtext">
                    <a href=""><h2>{str_cut($r[title],56,'...')}</h2></a>
                    <div class="xxl_line"></div>
                    <p class="whkj_p">{str_cut($r[description],96)}</p>
                </div>
            </li>
            {/loop}
            {/pc}
        </ul>
    </div>
</div>
{template "content","footer"}