{template "content","header"}

<!-- 主要内容 -->
<div class="page4-block1 container-900 mg-auto overflow clearfix">
   <div class="left">
       <h2>良友动态</h2>
       {pc:content  action="lists" catid="18" order="id DESC" num="2"}
       <div style="overflow: hidden;">
            {loop $data $r}
           <div class="picdiv"><a href="{$r[url]}" title="{$r[title]}"><img src="{$r[thumb]}" alt=""/></a></div>
            {/loop}
       </div>
       {/pc}
       {pc:content  action="lists" catid="18" order="id DESC" num="5"}
       <div class="picshow">
           <ul class="bxslider">
           {loop $data $r}
               <li><a href="{$r[url]}"><img src="{$r[thumb]}"/></a></li>
           {/loop}
           </ul>
       </div>
       {/pc}
   </div>
   <div class="right">
       <h2>最新推荐</h2>
       {pc:content  action="lists" catid="19" order="id DESC" num="6"}
       {loop $data $r}
       <div class="picdiv"><a href="{$r[url]}" title="{$r[title]}"><img src="{$r[thumb]}" alt="{$r[title]}"/></a></div>
       {/loop}
       {/pc}
   </div>
</div>

<div class="page4-block2 container-900 mg-auto overflow clearfix">
    <div class="picture">
        <a class="title1" href="/index.php?m=content&c=index&a=lists&catid=29" title="">良友找良友</a>
        <ul class="clearfix">
            {pc:content action="lists" catid="29" order="id DESC" num=4}
            {loop $data $r}
            <li>
                <a class="toptpic" href="{$r[url]}"><img src="{$r[thumb]}" alt="{$r[title]}"></a>
                <div class="bottomtext">
                    <a href=""><h2>{$r[title]}</h2></a>
                    <p>{str_cut($r[description],65)}</p>
                </div>
            </li>
            {/loop}
            {/pc}
        </ul>
    </div>
    
    <div class="picture">
        <a class="title1" href="/index.php?m=content&c=index&a=lists&catid=30" title="">正在发行</a>
        <ul class="clearfix">
            {pc:content action="lists" catid="30" order="id DESC" num=4}
            {loop $data $r}
            <li>
                <a class="toptpic" href="{$r[url]}"><img src="{$r[thumb]}" alt="{$r[title]}"></a>
                <div class="bottomtext">
                    <a href=""><h2>{$r[title]}</h2></a>
                    <p>{str_cut($r[description],65)}</p>
                </div>
            </li>
            {/loop}
            {/pc}
        </ul>
    </div>
    <div class="business">
        <a class="title1" href="" title="">商务合作</a>
        <ul class="clearfix">
            {pc:content action="lists" catid="22" order="id DESC" num=5}
            {loop $data $r}
            <li><a href="{$r[url]}" title="{$r[title]}"><img src="{$r[thumb]}" alt="{$r[title]}"></a></li>
            {/loop}
            {/pc}
        </ul>
    </div>
    <div class="picture">
        <a class="title1" href="http://www.tvmcloud.com/home/mall/index/s/TWqbL" title="">网上选片</a>
        <ul class="clearfix">
            {pc:content action="lists" catid="31" order="id DESC" num=4}
            {loop $data $r}
            <li>
                <a class="toptpic" href="{$r[url]}"><img src="{$r[thumb]}" alt="{$r[title]}"></a>
                <div class="bottomtext">
                    <a href=""><h2>{$r[title]}</h2></a>
                    <p>{str_cut($r[description],65)}</p>
                </div>
            </li>
            {/loop}
            {/pc}
        </ul>
    </div>
</div>
{template "content","footer"}

<script>
    $(".alllinks").hover(function() {
        $(this).find("a").css({"visibility":"visible"});
    },function() {
        $(this).find("a").css({"visibility":"hidden"});
    })
    new_slider('#new_slider',3000,150,10);

    $('.bxslider').bxSlider({
        auto: true,
        autoControls: true,
        captions: true
    });
</script>