<!--友情连接-->
<div class="block5">
  <div class="container-900 mg-auto overflow clearfix">
      <div class="title">与良友成为合作伙伴 <span>Work with COMPANION</span></div>
      {pc:link action="type_lists" listorder="asc" siteid="$siteid"}
      <ul>
      {loop $data $type_v}
          <li>
          <div>{$type_v[name]}</div>
          {pc:link action="lists" typeid="$type_v['typeid']" siteid="$siteid" linktype="0" num="4" return="dat"}
          {loop $dat $v}
          <a href="{$v[url]}" title="">{$v[name]}</a>
          {/loop}
          {/pc}
          </li>
      {/loop}
      </ul>
      {/pc}
  </div>
  <div class="footer">
      <div><a href="" title="影像制品营业许可证">影像制品营业许可证</a><a href="" title="影像制品营业许可证">影像制品营业许可证</a><a href="" title="影像制品营业许可证">影像制品营业许可证</a></div>
      <p>中国赴马里维和部队在马里加奥维部队在马里加奥维和任务区正式完成第二次轮换交接任务区正式完成第二次轮换交接</p>
      <p>中国赴马里维和部队在马里加奥维和任务区正式完成第二次轮换交接</p>
      <p>中国赴马里维和部队在马里加奥维和任务区正式完成第二次轮换交接</p>
  </div>
</div>

<script>
    slideSwitch3(".slideinner","slidehover");
</script>
</body>
</html>