<!--友情连接-->
<div class="block5">
  <div class="container-900 mg-auto overflow clearfix">
      <div class="title">与良友成为合作伙伴 <span>WORK WITH COMPANION</span></div>
      {pc:link action="type_lists" listorder="asc" siteid="$siteid"}
      <ul>
      {loop $data $type_v}
          <li>
          <div>{$type_v[name]}</div>
          <p class="xxl_line" style="width:70px;margin-bottom: 5px;"></p>
          {pc:link action="lists" typeid="$type_v['typeid']" siteid="$siteid" linktype="0" num="4" return="dat"}
          {loop $dat $v}
          <a href="{$v[url]}" title="">{$v[name]}</a>
          {/loop}
          {/pc}
          </li>
      {/loop}
      </ul>
      {/pc}
  </div>
  <div class="footer">
      <div><a href="" title="音像制品经营许可证">音像制品经营许可证</a>|
           <a href="" title="招贤纳士">招贤纳士</a>|
           <a href="" title="联系我们">联系我们</a>
           <a href="" title="关于我们">关于我们</a>
      </div>
      <p>良友文化事业群：
        <a href="">良友（北京）文化传媒有限公司</a> | 
        <a href="">东方良友影视传媒（北京）有限公司</a> | 
        <a href="">良友图书公司</a> | 
        <a href="">良友生活记忆馆</a> | 
        <a href="">良友书院</a>
      </p>
      <p>良友（www.1926cn.com）. 版权所有.禁止擅自转载节录</p>
      <p>京ICP备08101483号</p>
  </div>
</div>
<script>
    slideSwitch3(".slideinner","slidehover");
</script>
</body>
</html>