{template "content","header"}

<!-- 内容部分开始  -->
<div class="content" style="margin-top:0px;">
	<div class="xxl_clear"></div>
	<div class="pro-switch">
		<div class="slider">
			<div class="flexslider">
				<ul class="slides">
                {pc:content  action="position" posid="1" order="listorder DESC" num="2"}
                {loop $data $r}
					<li>
						<div class="img"><a href="{$r[url]}" target="_blank">
							<img src="{$r[thumb]}" height="347" width"960" alt="" /></a>
						</div>
					</li>
                {/loop}
                {/pc}
				</ul>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	    $(function(){
	      $('.flexslider').flexslider({
	        animation: "slide",
	        start: function(slider){
	          //$('body').removeClass('loading');
	        }
	      });
	    });
    </script>
	<div class="xxl_clear"></div>
	<div class="zx">
		<p class="xxl_title"><a href="http://www.1926cn.com/index.php?m=content&c=index&a=lists&catid=14">最新 News</a></p>
        {pc:content  action="lists" catid="14" order="id DESC" num="4"}
		<ul class="xxl_clear">
        {loop $data $r}
			<li>
				<div class="pic">
					<a href="{$r[url]}" target="_blank"><img src="{$r[thumb]}" width="225px" /></a>
				</div>
				<div class="title"><a href="#" >{str_cut($r[title],58)}</a></div>
				<div class="xxl_line"></div>
				<div class="zx_message"><a href="#" >{str_cut($r[description],96)}</a></div>
			</li>
        {/loop}
		</ul>
        {/pc}
	</div>
	<div class="xxl_clear"></div>
	<div class="zx">
		<p class="xxl_title"><a href="http://www.1926cn.com/index.php?m=content&c=index&a=lists&catid=15">纪录时间 Doc Time</a></p>	
        {pc:content  action="lists" catid="15" order="id DESC" num="6"}
		<ul class="xxl_clear">
        <?php $i=1;?>
        {loop $data $r}  
        <?php if($i < 3){?>
            <li class="art_top">
				<div class="art_top_pic">
					<a href="{$r[url]}">
						<img src="{$r[thumb]}" width="450px" height="250px" />
					</a>
				</div>
			</li>
        <?php }else{?>
			<li>
				<div class="pic">
					<a href="{$r[url]}" target="_blank"><img src="{$r[thumb]}" width="225px" /></a>
				</div>
				<div class="title"><a href="#" >{str_cut($r[title],58)}</a></div>
				<div class="xxl_line"></div>
				<div class="zx_message"><a href="#" >{str_cut($r[description],96)}</a></div>
			</li>
        <?php }
            $i++;
        ?>
        {/loop}
		</ul>
        {/pc}
	</div>
	<!-- 文化活动 -->
	<div class="page3-block1 container-900 mg-auto overflow clearfix xxl_list_cats" style="margin-bottom:20px;">
		<p class="xxl_title"><a href="http://www.1926cn.com/index.php?m=content&c=index&a=lists&catid=16">文化活动 Activity</a></p>
		<p class="xxl_title activity_nav">
		{pc:content action="category" catid="16" siteid="1" order="listorder ASC"} 
		<?php $i = 1?>
		{loop $data $r}
			<a href="javascript:void(0)" class="xxl_cat{$i}"><span>{$r[catname]}&nbsp;&nbsp;<?php if($i<4){?>|<?php }?></span></a>
		<?php $i++;?>
		{/loop}
		{/pc}
		</p>
		<div class="slideinner4 overflow xxl_show_cat1">
		    <ul class="clearfix overflow">
				<li>
		            {pc:get sql="select * from v9_activity where catid=32 order by id desc" start="0" num="4" cache="3600" return="data"}
		            {loop $data $r}
		            <div class="list-inner fl tianstion">
		                <div class="time">{$r[activity_time]}</div>
		                <a href="{$r[url]}" class="imgCon" title="">
		                    <img src="{$r[thumb]}" alt=""  />
		                </a>
		                <div class="priceCon">
		                        <div class="text">
		                            <a href=""><h2>{str_cut($r[title],48)}</h2></a>
		                            <div class="xxl_line"></div>
		                            <p>{str_cut($r[description],96)}</p>
		                        </div>
		                </div>
		            </div>
		            {/loop}
		            {/pc}
		        </li>
		        <li>
		            {pc:get sql="select * from v9_activity where catid = 32 order by id desc" start="4" num="4" cache="3600" return="data"}
		            {loop $data $r}
		            <div class="list-inner fl tianstion">
		                <div class="time">{$r[activity_time]}</div>
		                <a href="{$r[url]}" class="imgCon" title="">
		                    <img src="{$r[thumb]}" alt=""  />
		                </a>
		                <div class="priceCon">
		                        <div class="text">
		                            <a href=""><h2>{str_cut($r[title],48)}</h2></a>
		                            <div class="xxl_line"></div>
		                            <p>{str_cut($r[description],96)}</p>
		                        </div>
		                </div>
		            </div>
		            {/loop}
		            {/pc}
		        </li>
		    </ul>
	    </div>
	    <div class="slideinner overflow xxl_show_cat2" style="display:none;">
		    <ul class="clearfix overflow">
				<li>
		            {pc:get sql="select * from v9_news where catid = 25 order by id desc" start="0" num="4" cache="3600" return="data"}
		            {loop $data $r}
		            <div class="list-inner fl tianstion">
		                <div class="time">{$r[activity_time]}</div>
		                <a href="{$r[url]}" class="imgCon" title="">
		                    <img src="{$r[thumb]}" alt=""  />
		                </a>
		                <div class="priceCon">
		                        <div class="text">
		                            <a href=""><h2>{str_cut($r[title],48)}</h2></a>
		                            <div class="xxl_line"></div>
		                            <p>{str_cut($r[description],96)}</p>
		                        </div>
		                </div>
		            </div>
		            {/loop}
		            {/pc}
		        </li>
		        <li>
		            {pc:get sql="select * from v9_news where catid = 25 order by id desc" start="4" num="4" cache="3600" return="data"}
		            {loop $data $r}
		            <div class="list-inner fl tianstion">
		                <div class="time">{$r[activity_time]}</div>
		                <a href="{$r[url]}" class="imgCon" title="">
		                    <img src="{$r[thumb]}" alt=""  />
		                </a>
		                <div class="priceCon">
		                        <div class="text">
		                            <a href=""><h2>{str_cut($r[title],48)}</h2></a>
		                            <div class="xxl_line"></div>
		                            <p>{str_cut($r[description],96)}</p>
		                        </div>
		                </div>
		            </div>
		            {/loop}
		            {/pc}
		        </li>
		    </ul>
	    </div>
	    <div class="slideinner2 overflow xxl_show_cat3" style="display:none;">
		    <ul class="clearfix overflow ">
				<li>
		            {pc:get sql="select * from v9_news where catid =26 order by id desc" start="0" num="4" cache="3600" return="data"}
		            {loop $data $r}
		            <div class="list-inner fl tianstion">
		                <div class="time">{$r[activity_time]}</div>
		                <a href="{$r[url]}" class="imgCon" title="">
		                    <img src="{$r[thumb]}" alt=""  />
		                </a>
		                <div class="priceCon">
		                        <div class="text">
		                            <a href=""><h2>{str_cut($r[title],48)}</h2></a>
		                            <div class="xxl_line"></div>
		                            <p>{str_cut($r[description],96)}</p>
		                        </div>
		                </div>
		            </div>
		            {/loop}
		            {/pc}
		        </li>
		        <li>
		            {pc:get sql="select * from v9_news where catid =26 order by id desc" start="4" num="4" cache="3600" return="data"}
		            {loop $data $r}
		            <div class="list-inner fl tianstion">
		                <div class="time">{$r[activity_time]}</div>
		                <a href="{$r[url]}" class="imgCon" title="">
		                    <img src="{$r[thumb]}" alt=""  />
		                </a>
		                <div class="priceCon">
		                        <div class="text">
		                            <a href=""><h2>{str_cut($r[title],48)}</h2></a>
		                            <div class="xxl_line"></div>
		                            <p>{str_cut($r[description],96)}</p>
		                        </div>
		                </div>
		            </div>
		            {/loop}
		            {/pc}
		        </li>
		    </ul>
	    </div>
	    <div class="slideinner3 overflow xxl_show_cat4" style="display:none;">
		    <ul class="clearfix overflow">
				<li>
		            {pc:get sql="select * from v9_news where catid =27 order by id desc" start="0" num="4" cache="3600" return="data"}
		            {loop $data $r}
		            <div class="list-inner fl tianstion">
		                <div class="time">{$r[activity_time]}</div>
		                <a href="{$r[url]}" class="imgCon" title="">
		                    <img src="{$r[thumb]}" alt=""  />
		                </a>
		                <div class="priceCon">
		                        <div class="text">
		                            <a href=""><h2>{str_cut($r[title],48)}</h2></a>
		                            <div class="xxl_line"></div>
		                            <p>{str_cut($r[description],96)}</p>
		                        </div>
		                </div>
		            </div>
		            {/loop}
		            {/pc}
		        </li>
		        <li>
		            {pc:get sql="select * from v9_news where catid =27 order by id desc" start="4" num="4" cache="3600" return="data"}
		            {loop $data $r}
		            <div class="list-inner fl tianstion">
		                <div class="time">{$r[activity_time]}</div>
		                <a href="{$r[url]}" class="imgCon" title="">
		                    <img src="{$r[thumb]}" alt=""  />
		                </a>
		                <div class="priceCon">
		                        <div class="text">
		                            <a href=""><h2>{str_cut($r[title],48)}</h2></a>
		                            <div class="xxl_line"></div>
		                            <p>{str_cut($r[description],96)}</p>
		                        </div>
		                </div>
		            </div>
		            {/loop}
		            {/pc}
		        </li>
		    </ul>
	    </div>
	</div>

</div>
<div class="xxl_clear"></div>
<script>
    slideSwitch3(".slideinner","slidehover");
    slideSwitch3(".slideinner2","slidehover");
    slideSwitch3(".slideinner3","slidehover");
    slideSwitch3(".slideinner4","slidehover");
</script>
{template "content","footer"}