{template "content","header"}
  <!-- 面包屑 -->
  <div class="block3 container-900 mg-auto overflow clearfix">
      <a href="" title="">首页</a>
      <a href="" title="">纪录时间</a>
      <a href="" title="">片目</a>
      <a href="" title="">历史类</a>
  </div>
  <div class="xxl_stop container-900 mg-auto overflow clearfix">
    <div class="xxl_asear xxl_clear">
      <div class="xxl_search">
          <input id="searchWord2" class="xxl_searchname fl" type="text" onclick=" document.getElementById('searchWord2').style.color='#000000';
          if( this.value == '良友')value=''" onblur=" document.getElementById('searchWord2').style.color='#ffffff';if( this.value.replace(/[ ]/g,'') == '')value='良友'" value="良友" name="wd">
          <input id="searchBtn2" type="submit" value="" class="xxl_searchbtn cursor fl">
      </div>
    </div>
    <div class="xxl_bsear">
      <a href="">全部</a>&nbsp;|
      <a href="" class="xxl_font">历史</a>&nbsp;|
      <a href="">人文</a>&nbsp;|
      <a href="">军事</a>&nbsp;|
      <a href="">自然</a>&nbsp;|
      <a href="">社会</a>
    </div>
  </div>

  <!-- 主要内容 -->
  <div class="block4 container-900 mg-auto overflow clearfix xxl_clear">
      <div class="left">
        <ul class="xxl_articlelist clearfix">
            <li class="xxl_article">
                <a class="xxl_pic" href="" title=""><img src="images/pic.jpg"></a>
                <div class="xxl_text">
                    <a href="">豆腐味道</a>
                    <div class="xxl_line"></div>
                    <p>英文名:Tofu Legend</p>
                    <p>导演：陈建设</p>
                    <p>国家/地区:中国大陆</p>
                    <p>出品:良友(北京)文化传媒有限公司</p>
                    <p>时长:4集 45分钟</p>
                </div>
            </li>
            <li class="xxl_article">
                <a class="xxl_pic" href="" title=""><img src="images/pic.jpg"></a>
                <div class="xxl_text">
                    <a href="">豆腐味道</a>
                    <div class="xxl_line"></div>
                    <p>英文名:Tofu Legend</p>
                    <p>导演：陈建设</p>
                    <p>国家/地区:中国大陆</p>
                    <p>出品:良友(北京)文化传媒有限公司</p>
                    <p>时长:4集 45分钟</p>
                </div>
            </li>
            <li class="xxl_article">
                <a class="xxl_pic" href="" title=""><img src="images/pic.jpg"></a>
                <div class="xxl_text">
                    <a href="">豆腐味道</a>
                    <div class="xxl_line"></div>
                    <p>英文名:Tofu Legend</p>
                    <p>导演：陈建设</p>
                    <p>国家/地区:中国大陆</p>
                    <p>出品:良友(北京)文化传媒有限公司</p>
                    <p>时长:4集 45分钟</p>
                </div>
            </li>
            <li class="xxl_article">
                <a class="xxl_pic" href="" title=""><img src="images/pic.jpg"></a>
                <div class="xxl_text">
                    <a href="">豆腐味道</a>
                    <div class="xxl_line"></div>
                    <p>英文名:Tofu Legend</p>
                    <p>导演：陈建设</p>
                    <p>国家/地区:中国大陆</p>
                    <p>出品:良友(北京)文化传媒有限公司</p>
                    <p>时长:4集 45分钟</p>
                </div>
            </li>
            <li class="xxl_article">
                <a class="xxl_pic" href="" title=""><img src="images/pic.jpg"></a>
                <div class="xxl_text">
                    <a href="">豆腐味道</a>
                    <div class="xxl_line"></div>
                    <p>英文名:Tofu Legend</p>
                    <p>导演：陈建设</p>
                    <p>国家/地区:中国大陆</p>
                    <p>出品:良友(北京)文化传媒有限公司</p>
                    <p>时长:4集 45分钟</p>
                </div>
            </li>
            <li class="xxl_article">
                <a class="xxl_pic" href="" title=""><img src="images/pic.jpg"></a>
                <div class="xxl_text">
                    <a href="">豆腐味道</a>
                    <div class="xxl_line"></div>
                    <p>英文名:Tofu Legend</p>
                    <p>导演：陈建设</p>
                    <p>国家/地区:中国大陆</p>
                    <p>出品:良友(北京)文化传媒有限公司</p>
                    <p>时长:4集 45分钟</p>
                </div>
            </li>
        </ul>
        <div class="paging">
            <span class="active">1</span>
            <a href="/2/">2</a>
            <a href="/3/">3</a>
            <a href="/4/">4</a>
            <a href="/5/">5</a>
            <span>...</span>
            <a href="/367/">367 </a>
            <a href="/2/">下一页</a>

            <input class="input" placeholder="输入页码">
            <a href="">go</a>
        </div>
      </div>
      <div class="right">
          <div class="links links1">
              <h2 class="linls-title">相关阅读</h2>
              <ul class="clearfix">
                  <li><a href="" title=""><img src="images/pic.jpg"><span>在马奥维和任务区</span></a></li>
                  <li><a href="" title=""><img src="images/pic.jpg"><span>在马奥维和任务区</span></a></li>
              </ul>
          </div>
          <div class="links links2">
              <h2 class="linls-title">热门点击</h2>
              <ul class="clearfix">
                  <li><a href="" title="">在马奥维和任务区</a></li>
                  <li><a href="" title="">在马奥维和任务区</a></li>
                  <li><a href="" title="">在马奥维和任务区</a></li>
                  <li><a href="" title="">在马奥维和任务区</a></li>
                  <li><a href="" title="">在马奥维和任务区</a></li>
              </ul>
          </div>
          <div class="links links3">
              <h2 class="linls-title">最新活动</h2>
              <a href="" title=""><img src="images/pic.jpg"></a>
              <ul class="clearfix">
                  <li><a href="" title="">在马奥维和任务区</a></li>
                  <li><a href="" title="">在马奥维和任务区</a></li>
                  <li><a href="" title="">在马奥维和任务区</a></li>
                  <li><a href="" title="">在马奥维和任务区</a></li>
                  <li><a href="" title="">在马奥维和任务区</a></li>
              </ul>
          </div>
      </div>
  </div>

{template "content","footer"}