{template "content","header"}

<!-- 内容部分开始  -->
<div class="xxl_clear"></div>
<div class="zxzx">
	<div class="xxl_top_5">
		<p class="xxl_top5_title">TOP 5</p>
        {pc:get sql="select * from v9_news where catid = $catid order by id DESC" start="0" num="5" cache="3600" return="data"}
		<ul class="xxl_clear" style="float:left;">
        {loop $data $r}
			<li>
				<div class="pic">
					<a href="{$r[url]}" target="_blank"><img src="{$r[thumb]}" width="180px" /></a>
				</div>
				<div class="top5_title"><a href="{$r[url]}" >{str_cut($r[title],44,'...')}</a></div>
				<div class="xxl_line"></div>
				<div class="zx_message top5_message"><a href="{$r[url]}" >{str_cut($r[description],84,'...')}</a></div>
			</li>
        {/loop}
		</ul>
        {/pc}
	</div>
</div>
<div class="xxl_clear"></div>
<div class="content">
    <div class="xxl_clear"></div>
	<div class="zx-con">
    {pc:get sql="select * from v9_news where catid = $catid order by id DESC" start="5" num="5" cache="3600" page="$page" return="data"}
		<ul>
        {loop $data $r}
			<li>
				<div class="zx-con-1">
					<a href="{$r[url]}"><img src="{$r[thumb]}" /></a>
				</div>
				<div class="zx-con-2">
					<div class="con_title"><a href="{$r[url]}" >{$r[title]}</a></div>
					<div class="xxl_line"></div>
					<div class="con_time"><a href="{$r[url]}" >{date('Y年m月d日',$r[inputtime])}</a></div>
					<div class="con_message">{str_cut($r[description],356,'...')}</div>
                    <div class="con_message">{str_cut($r[message],356,'...')}</div>
				</div>
				<div class="clear"> </div>
			</li>
        {/loop}
		</ul>
	</div>
	<div class="paging">{$pages}</div>
    {/pc}
</div>
<div class="xxl_clear"></div>

{template "content","footer"}