{template "content","header"}

<!-- 主要内容 -->
<div class="page2-block1 container-900 mg-auto overflow clearfix">
    <div class="left">
        <div class="searchcontent">
            <form id="searchForm2" method="get" target="_blank" action="" name="form_search">
                <input id="searchWord2" class="searchname fl" type="text" onclick=" document.getElementById('searchWord2').style.color='#000000';
        if( this.value == '良友')value=''" onblur=" document.getElementById('searchWord2').style.color='#ffffff';if( this.value.replace(/[ ]/g,'') == '')value='良友'" value="良友" name="wd">
                <input id="searchBtn2" type="submit" value="" class="searchbtn cursor fl">
            </form>
        </div>
        <div class="article">
            <a class="pic" href="" title=""><img src="images/pic.jpg"></a>
            <div class="text">
                <a href=""><h2>中国记录人</h2></a>
                <span>2015年5月24</span>
                <p>5月26日，在马里加奥维和任务区，佩赴马里维和部队在马里加奥维和任务区正式完成第二次轮换交接。与以往不同的是，新一批维和官兵胸前，都佩戴着一个用中、英、法三种文字标记姓名、血</p>
            </div>
        </div>
        <ul class="piclist clearfix">
            <li><a href="" title=""><img src="images/pic.jpg" alt=""></a></li>
            <li><a href="" title=""><img src="images/pic.jpg" alt=""></a></li>
            <li><a href="" title=""><img src="images/pic.jpg" alt=""></a></li>
            <li><a href="" title=""><img src="images/pic.jpg" alt=""></a></li>
        </ul>
        <ul class="articlelist clearfix">
            <li class="article">
                <a class="pic" href="" title=""><img src="images/pic.jpg"></a>
                <div class="text">
                    <a href=""><h2>中国记录人</h2></a>
                    <span>2015年5月24</span>
                    <p>5月26日，在马里加奥维和任务区，佩赴马里维和部队在马里加奥维佩赴马里维和部队在马里加奥维和任务区正式完成第务区，佩赴马里维和部队在马里加奥维和任务区正式完成第二二次轮换交接。与以往不同的是，新一批维和官兵胸前，都佩戴着一个用中、英、法三种文字标记姓名、血</p>
                </div>
            </li>
            <li class="article">
                <a class="pic" href="" title=""><img src="images/pic.jpg"></a>
                <div class="text">
                    <a href=""><h2>中国记录人</h2></a>
                    <span>2015年5月24</span>
                    <p>5月26日，在马里加奥维和任务区，佩赴马里维和部队在马里加奥维佩赴马里维和部队在马里加奥维和任务区正式完成第务区，佩赴马里维和部队在马里加奥维和任务区正式完成第二二次轮换交接。与以往不同的是，新一批维和官兵胸前，都佩戴着一个用中、英、法三种文字标记姓名、血</p>
                </div>
            </li>
            <li class="article">
                <a class="pic" href="" title=""><img src="images/pic.jpg"></a>
                <div class="text">
                    <a href=""><h2>中国记录人</h2></a>
                    <span>2015年5月24</span>
                    <p>5月26日，在马里加奥维和任务区，佩赴马里维和部队在马里加奥维佩赴马里维和部队在马里加奥维和任务区正式完成第务区，佩赴马里维和部队在马里加奥维和任务区正式完成第二二次轮换交接。与以往不同的是，新一批维和官兵胸前，都佩戴着一个用中、英、法三种文字标记姓名、血</p>
                </div>
            </li>
            <li class="article">
                <a class="pic" href="" title=""><img src="images/pic.jpg"></a>
                <div class="text">
                    <a href=""><h2>中国记录人</h2></a>
                    <span>2015年5月24</span>
                    <p>5月26日，在马里加奥维和任务区，佩赴马里维和部队在马里加奥维佩赴马里维和部队在马里加奥维和任务区正式完成第务区，佩赴马里维和部队在马里加奥维和任务区正式完成第二二次轮换交接。与以往不同的是，新一批维和官兵胸前，都佩戴着一个用中、英、法三种文字标记姓名、血</p>
                </div>
            </li>
    </ul>


        <div class="paging">
            <span class="active">1</span>
            <a href="/2/">2</a>
            <a href="/3/">3</a>
            <a href="/4/">4</a>
            <a href="/5/">5</a>
            <span>...</span>
            <a href="/367/">367 </a>
            <a href="/2/">下一页</a>

            <input class="input" placeholder="输入页码">
            <a href="">go</a>
        </div>
    </div>
    <div class="right">
       <div class="alllinks">
           <span>全部</span>
           <a href="" title="专题">专题</a>
           <a href="" title="资讯">资讯</a>
           <a href="" title="图片">图片</a>
       </div>
        <ul class="adlist clearfix">
            <li><a href="" title=""><img class="adimg" src="images/pic.jpg"></a></li>
            <li><a href="" title=""><img class="adimg" src="images/pic.jpg"></a></li>
        </ul>
    </div>
</div>

<!--友情连接-->
<div class="block5">
    <div class="container-900 mg-auto overflow clearfix">
        <div class="title">与良友成为合作伙伴 <span>Work with COMPANION</span></div>
        <ul>
            <li><div>我有创意</div><a href="" title="">项目孵化</a><a href="" title="">专业评估</a></li>
            <li><div>我有创意</div><a href="" title="">项目孵化</a><a href="" title="">专业评估</a></li>
            <li><div>我有创意</div><a href="" title="">项目孵化</a><a href="" title="">专业评估</a></li>
            <li><div>我有创意</div><a href="" title="">项目孵化</a><a href="" title="">专业评估</a></li>
            <li><div>我有创意</div><a href="" title="">项目孵化</a><a href="" title="">专业评估</a></li>
            <li><div>我要投广告</div><a href="" title="">项目孵化</a><a href="" title="">专业评估</a></li>
            <li><div>我有创意</div><a href="" title="">项目孵化</a><a href="" title="">专业评估</a></li>
        </ul>
    </div>
    <div class="footer">
        <div><a href="" title="影像制品营业许可证">影像制品营业许可证</a><a href="" title="影像制品营业许可证">影像制品营业许可证</a><a href="" title="影像制品营业许可证">影像制品营业许可证</a></div>
        <p>中国赴马里维和部队在马里加奥维部队在马里加奥维和任务区正式完成第二次轮换交接任务区正式完成第二次轮换交接</p>
        <p>中国赴马里维和部队在马里加奥维和任务区正式完成第二次轮换交接</p>
        <p>中国赴马里维和部队在马里加奥维和任务区正式完成第二次轮换交接</p>
    </div>
</div>


</body>
</html>

<script>
    $(".alllinks").hover(function() {
        $(this).find("a").css({"visibility":"visible"});
    },function() {
        $(this).find("a").css({"visibility":"hidden"});
    })
</script>