{template "content","header"}
  <!-- 面包屑 -->
<div class="block3 container-900 mg-auto overflow clearfix xxl_weizhi">
    <a href="{siteurl($siteid)}">首页</a><span> &gt; </span>{catpos($catid)} 正文</div>
</div>

  <!-- 搜素+面包 -->
  <div class="xxl_stop container-900 mg-auto overflow clearfix">
      <div class="xxl_asear xxl_clear">
        <div class="xxl_search">
            <input id="searchWord2" class="xxl_searchname fl" type="text" onclick=" document.getElementById('searchWord2').style.color='#000000';
            if( this.value == '良友')value=''" onblur=" document.getElementById('searchWord2').style.color='#ffffff';if( this.value.replace(/[ ]/g,'') == '')value='良友'" value="良友" name="wd">
            <input id="searchBtn2" type="submit" value="" class="xxl_searchbtn cursor fl">
        </div>
      </div>
      <div class="xxl_bsear">
          <a href="/index.php?m=content&c=index&a=lists&catid=41">全部</a>&nbsp;|
          {pc:content action="category" catid="41" siteid="$siteid" order="listorder ASC"}
          <?php $i=1?>
          {loop $data $r}
          <a href="{$r[url]}">{$r[catname]}</a>&nbsp;<?php if($i < 8){ echo '|';}?>
          <?php $i++;?>
          {/loop}
          {/pc}
      </div>
  </div>
  <!-- 主要内容 -->
  <div class="block4 container-900 mg-auto overflow clearfix">
      <div class="left" style="width:670px;">
          <div class="article">
              <div class="author-detail">
                  <img src="images/pic.jpg">
                  <h3>李博士</h3>
                  <h4>作曲家、著名作家</h4>
                  <div>中国赴马里维和部队在马里加奥维和任务区正式完成第二次轮换交接。5月26日，在马里加奥维和任务区，佩戴着“身份识别牌”的中国维和部队成员检查车辆。当地时间和部队在马里加奥维和任务区正式完成第二次轮换交接。5月26日，在马里加奥维和任务区，佩戴着“身份识别牌”的中国维和部队成员检查车辆。当地时间25日，中国赴马里维和部队在马里加奥维和任务区正式完成第二次轮换交接。与以往不同的是，新一批维和官兵胸前，都佩戴着一个用中、英、法三种文字标和部队在马里加奥维和任务区正式完成第二次轮换交接。5月26日，在马里加奥维和任务区，佩戴着“身份识别牌”的中国维和部队成员检查车辆。当地时间25日，中国赴马里维和部队在马里加奥维和任务区正式完成第二次轮换交接。与以往不同的是，新一批维和官兵胸前，都佩戴着一个用中、英、法三种文字标和部队在马里加奥维和任务区正式完成第二次轮换交接。5月26日，在马里加奥维和任务区，佩戴着“身份识别牌”的中国维和部队成员检查车辆。当地时间25日，中国赴马里维和部队在马里加奥维和任务区正式完成第二次轮换交接。与以往不同的是，新一批维和官兵胸前，都佩戴着一个用中、英、法三种文字标25日，中国赴马里维和部队在马里加奥维和任务区正式完成第二次轮换交接。与以往不同的是，新一批维和官兵胸前，都佩戴着一个用中、英、法三种文字标记姓名、血</div>
              </div>
              <div class="xxl_pictures">
                <h2>作品</h2>
                <ul class="clearfix">
                    <li>
                      <a title=""><img src="images/pic.jpg" alt="" style="width:150px;height:200px;margin-top:10px;" /></a>
                      <p>豆腐味道</p>
                      <p>2013年</p>
                    </li>
                    <li>
                      <a title=""><img src="images/pic.jpg" alt="" style="width:150px;height:200px;margin-top:10px;" /></a>
                      <p>豆腐味道</p>
                      <p>2013年</p>
                    </li>
                    <li>
                      <a title=""><img src="images/pic.jpg" alt="" style="width:150px;height:200px;margin-top:10px;" /></a>
                      <p>豆腐味道</p>
                      <p>2013年</p>
                    </li>
                    <li>
                      <a title=""><img src="images/pic.jpg" alt="" style="width:150px;height:200px;margin-top:10px;" /></a>
                      <p>豆腐味道</p>
                      <p>2013年</p>
                    </li>
                </ul>
              </div>
          </div>
          <div class="links">
              <h2 class="linls-title">相关阅读</h2>
              <ul class="clearfix">
                  <li><a href="" title="">在马里加奥维和任务区</a></li>
                  <li><a href="" title="">在马里加奥维和任务区</a></li>
                  <li><a href="" title="">在马里加奥维和任务区</a></li>
                  <li><a href="" title="">在马里加奥维和任务区</a></li>
                  <li><a href="" title="">在马里加奥维和任务区</a></li>
              </ul>
          </div>
      </div>
      <div class="right">
          <div class="links links1">
              <h2 class="linls-title">相关阅读</h2>
              <ul class="clearfix">
                  <li><a href="" title=""><img src="images/pic.jpg"><span>在马奥维和任务区</span></a></li>
                  <li><a href="" title=""><img src="images/pic.jpg"><span>在马奥维和任务区</span></a></li>
              </ul>
          </div>
          <div class="links links2">
              <h2 class="linls-title">热门点击</h2>
              <ul class="clearfix">
                  <li><a href="" title="">在马奥维和任务区</a></li>
                  <li><a href="" title="">在马奥维和任务区</a></li>
                  <li><a href="" title="">在马奥维和任务区</a></li>
                  <li><a href="" title="">在马奥维和任务区</a></li>
                  <li><a href="" title="">在马奥维和任务区</a></li>
              </ul>
          </div>
          <div class="links links3">
              <h2 class="linls-title">最新活动</h2>
              <a href="" title=""><img src="images/pic.jpg"></a>
              <ul class="clearfix">
                  <li><a href="" title="">在马奥维和任务区</a></li>
                  <li><a href="" title="">在马奥维和任务区</a></li>
                  <li><a href="" title="">在马奥维和任务区</a></li>
                  <li><a href="" title="">在马奥维和任务区</a></li>
                  <li><a href="" title="">在马奥维和任务区</a></li>
              </ul>
          </div>
      </div>
  </div>

{template "content","footer"}