{template "content","header"}
<!-- 面包屑 -->
<div class="block3 container-900 mg-auto overflow clearfix">
    <a href="{siteurl($siteid)}">首页</a><span> &gt; </span>{catpos($catid)} 正文</div>
</div>

<!-- 搜素+面包 -->
<div class="xxl_stop container-900 mg-auto overflow clearfix">
    <div class="xxl_asear xxl_clear">
      <div class="xxl_search">
          <input id="searchWord2" class="xxl_searchname fl" type="text" onclick=" document.getElementById('searchWord2').style.color='#000000';
          if( this.value == '良友')value=''" onblur=" document.getElementById('searchWord2').style.color='#ffffff';if( this.value.replace(/[ ]/g,'') == '')value='良友'" value="良友" name="wd">
          <input id="searchBtn2" type="submit" value="" class="xxl_searchbtn cursor fl">
      </div>
    </div>
    <div class="xxl_bsear">
        {pc:content action="category" catid="15" siteid="$siteid" order="listorder ASC"}
        {loop $data $r}
            <a href="{$r[url]}">{$r[catname]}</a>&nbsp;|
        {/loop}
        {/pc}
    </div>
</div>
<!-- 主要内容 -->
<div class="block4 container-900 mg-auto overflow clearfix page5">
    <div class="left">
        <div class="article-detail">
            <h2>{$title}</h2>
            <a class="pic-left" href="" title=""><img src="{$thumb}" alt=""></a>
            <div class="content-right">
                <p>中文片名: {$title}</p>
                <p>英文片名: {$en_title}</p>
                <p>导演: <a href="" title="">{$director}</a></p>
                <p>国家/地区: {$area}</p>
                <p>出品: {$produced}</p>
                <p>摘要:</p>
                <p>{$description}</p>
                <p>标签：<a href="" title="">{$title}</a></p>
                <a class="abutton" href="{$link_url}" title="{$title}" target="_blank"></a>
            </div>
        </div>
        <div class="article">
            <h2>影片简介</h2>
            <p class="xxl_content">{$content}</p>
        </div>
        <div class="xxl_juzhao">
            <h2>剧照</h2>
            <ul class="clearfix">
                {loop $stills $r}
                <li><img src="{$r[url]}" alt="剧照" width="170" height="170"></li>
                {/loop}
            </ul>
        </div>
        {pc:content action="relation" relation="$relation" id="$id" catid="$catid" num="5" keywords="$rs[keywords]"}
        {if $data}
        <div class="links">
            <h2 class="linls-title">看更多</h2>
            <ul class="clearfix">
            {loop $data $r}
                <li><a href="{$r[url]}" title="{$r[title]}">{$r[title]}</a></li>
            {/loop}   
            </ul>
        </div>
        {/if}
        {/pc}

    </div>
    <div class="right">
        <div class="links links1">
            <h2 class="linls-title">相关推荐</h2>
            {pc:content action="lists" catid="19" num="2" order="id DESC"}
            <ul class="clearfix">
            {loop $data $r}
                 <li><a href="{$r[url]}" title="{$r[title]}"><img src="{$r[thumb]}"/><span>{$r[title]}</span></a></li>
            {/loop}
            </ul>
            {/pc}
        </div>
        <div class="links links2">
            <h2 class="linls-title">热门点击</h2>
            {pc:content  action="hits" catid="$catid" num="5" order="views DESC" cache="3600"}
            <ul class="clearfix">
            {loop $data $r}
                <li><a href="{$r[url]}" title="{$r[title]}">{$r[title]}</a></li>
            {/loop}    
            </ul>
            {/pc}
        </div>
        <div class="links links3">
            <h2 class="linls-title">最新活动</h2>
            <a href="" title=""><img src="images/pic.jpg"></a>
            <ul class="clearfix">
                <li><a href="" title="">在马奥维和任务区</a></li>
                <li><a href="" title="">在马奥维和任务区</a></li>
                <li><a href="" title="">在马奥维和任务区</a></li>
                <li><a href="" title="">在马奥维和任务区</a></li>
                <li><a href="" title="">在马奥维和任务区</a></li>
            </ul>
        </div>
    </div>
</div>

{template "content","footer"}